* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template: 10% 80% 10%/1fr;
}

header,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#game-grid {
  height: max(30vh, 30vw);
  width: max(30vh, 30vw);
  border: 2px solid black;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  overflow: hidden;
}

.game-grid-cell {
  background-color: #eeeeee;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  cursor: pointer;
}

.controls span {
  margin: 3rem;
}

.turn {
  outline: 2px solid black;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.not-turn {
  outline: 2px solid grey;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  opacity: 0.5;
}

.final-result-modal {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #1f272a;
  margin: 15% auto;
  padding: 20px;
  border: 2px solid grey;
  border-radius: 8px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.final-result {
  color: white;
  font-weight: 700;
  font-size: 24px;
  margin: 20px 0px;
}

.play-again-button {
  background-color: none;
  color: #37464d;
  border: transparent;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
}

.play-again-button:hover {
  opacity: 0.7;
}

footer {
  color: grey;
  word-spacing: 10px;
  height: 8vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.github-icon {
  margin: 0px 16px;
}

.github-icon:hover {
  opacity: 0.7;
}
